# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb

# Virtual Environment
venv/
env/
ENV/
.venv/

# Django
*.sqlite3
*.log
db.sqlite3
media/
staticfiles/
static/

# Environment Variables
.env
.env.*

# Migrations
*/migrations/*.py
!*/migrations/__init__.py

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
